.App {
  width: 100vw;
  height: 100vh;
  background: url('./green-pattern.jpg');
}

.card-slot {
  width: 100px;
  height: 150px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
}